// Common
.game-box,
.movie-box {
  width: 100%;
}
.game-box .atropos-inner,
.movie-box .atropos-inner {
  z-index: 1;
}
.game-box img,
.movie-box img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  z-index: 1;
  transform-style: preserve-3d;
  pointer-events: none;
  max-width: none;
}
.game-box .atropos-shadow,
.movie-box .atropos-shadow {
  opacity: 0.5;
  transform: translate3d(0, 0, -1px);
}

// Game Box
.game-box {
  aspect-ratio: 526 / 656;
}
.game-box img.game-box-bg {
  left: -5%;
  top: -5%;
  width: 110%;
  height: 110%;
}
.game-box img.game-box-size {
  position: relative;
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
  visibility: hidden;
}
.game-box .atropos-rotate::before {
  content: '';
  position: absolute;
  left: 0;
  width: calc(100% + 8px);
  height: calc(100% + 16px);
  top: -8px;
  background: #086ef4;
  border-radius: 8px;
  z-index: 1;
}

// Movie Box
.movie-box {
  aspect-ratio: 270 / 153;
}

.movie-box .atropos-inner {
  border-radius: 12px;
}
.movie-box-bg-2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  img {
    transform: scale(1.1);
  }
}
.movie-box .movie-box-bg img {
  transform: scale(1.1);
  position: relative;
}
