// Common
.game-box,
.movie-box {
  width: 100%;
}
.game-box .atropos-inner,
.movie-box .atropos-inner {
  z-index: 1;
}
.game-box img,
.movie-box img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  z-index: 1;
  transform-style: preserve-3d;
  pointer-events: none;
  max-width: none;
}
.game-box .atropos-shadow,
.movie-box .atropos-shadow {
  opacity: 0.5;
  transform: translate3d(0, 0, -1px);
}

// Game Box
.game-box {
  --side-color: #004297;
  --side-size: 32px;
  aspect-ratio: 526 / 656;
}
.game-box img.game-box-bg {
  left: -5%;
  top: -5%;
  width: 110%;
  height: 110%;
}
.game-box img.game-box-size {
  position: relative;
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
  visibility: hidden;
}
.game-box .atropos-rotate::before {
  content: '';
  position: absolute;
  left: 0;
  width: calc(100% + 8px);
  height: calc(100% + 16px);
  top: -8px;
  background: #086ef4;
  // border-radius: 8px;
  z-index: 1;
}

.game-box-t {
  width: calc(100% + 8px);
  height: var(--side-size);
  background: var(--side-color);
  position: absolute;
  z-index: 10000;
  left: 0;
  top: -8px;
  transform: rotateX(-90deg);
  transform-origin: center top;
}
.game-box-b {
  width: calc(100% + 8px);
  height: var(--side-size);
  background: var(--side-color);
  position: absolute;
  z-index: 10000;
  left: 0;
  bottom: -8px;
  transform: rotateX(90deg);
  transform-origin: center bottom;
}
.game-box-r {
  width: var(--side-size);
  height: calc(100% + 16px);
  background: var(--side-color);
  position: absolute;
  z-index: 10000;
  right: -8px;
  top: -8px;
  transform: rotateY(-90deg);
  transform-origin: right center;
}
.game-box-l {
  width: var(--side-size);
  height: calc(100% + 16px);
  background: var(--side-color);
  position: absolute;
  z-index: 10000;
  left: 0px;
  top: -8px;
  transform: rotateY(90deg);
  transform-origin: left center;
  overflow: hidden;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 10.4%;
    background: #a5a5a5;
    left: 0;
    top: 9px;
  }
}

// Movie Box
.movie-box {
  aspect-ratio: 270 / 153;
}

.movie-box .atropos-inner {
  border-radius: 12px;
}
.movie-box .movie-box-bg img {
  transform: scale(1.1);
  position: relative;
}
