// Common
.game-box,
.movie-box {
  width: 100%;
}
.game-box .atropos-inner,
.movie-box .atropos-inner {
  z-index: 1;
}
.game-box img,
.movie-box img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  z-index: 1;
  transform-style: preserve-3d;
  pointer-events: none;
  max-width: none;
}
.game-box .atropos-shadow,
.movie-box .atropos-shadow {
  opacity: 0.5;
  transform: translate3d(0, 0, -1px);
}

// Game Box
.game-box {
  --side-color: #004297;
  --side-size: 32px;
  aspect-ratio: 526 / 656;
}
.game-box img.game-box-bg {
  left: -5%;
  top: -5%;
  width: 110%;
  height: 110%;
}
.game-box img.game-box-size {
  position: relative;
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
  visibility: hidden;
}
.game-box .atropos-rotate::before {
  content: '';
  position: absolute;
  left: 0;
  width: calc(100% + 8px);
  height: calc(100% + 16px);
  top: -8px;
  background: #086ef4;
  // border-radius: 8px;
  z-index: 1;
}
.game-box-t,
.game-box-r,
.game-box-b,
.game-box-l {
  transform-style: preserve-3d;
  backface-visibility: hidden;
  position: absolute;
  // display: none;
}
.game-box-t {
  width: calc(100% + 8px);
  height: var(--side-size);
  background: var(--side-color);
  left: 0;
  top: -8px;
  transform: translate3d(0, 0, -32px) rotateX(90deg);
  transform-origin: center top;
}
.game-box-b {
  width: calc(100% + 8px);
  height: var(--side-size);
  background: var(--side-color);
  left: 0;
  bottom: -8px;
  transform: translate3d(0, 0, -32px) rotateX(-90deg);
  transform-origin: center bottom;
}
.game-box-r {
  width: var(--side-size);
  height: calc(100% + 16px);
  background: var(--side-color);
  right: -8px;
  top: -8px;
  transform: translate3d(0, 0, -32px) rotateY(90deg);
  transform-origin: right center;
}
.game-box-l {
  width: var(--side-size);
  height: calc(100% + 16px);
  background: var(--side-color);
  left: 0px;
  top: -8px;
  transform: translate3d(0, 0, -32px) rotateY(-90deg);
  transform-origin: left center;
  overflow: hidden;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 10.4%;
    background: #a5a5a5;
    left: 0;
    top: 9px;
  }
}

// Movie Box
.movie-box {
  aspect-ratio: 270 / 153;
}

.movie-box .atropos-inner {
  border-radius: 12px;
}
.movie-box .movie-box-bg img {
  transform: scale(1.1);
  position: relative;
}

// Multiple Atropos
.atropos-multiple {
  --cell-width: 100px;
  --cell-height: 62.5px;
  --cell-gap: 4px;
  @media (min-width: 640px) {
    --cell-width: 160px;
    --cell-height: 100px;
    --cell-gap: 8px;
  }
  @media (min-width: 768px) {
    --cell-width: 200px;
    --cell-height: 125px;
    --cell-gap: 12px;
  }

  @media (min-width: 1024px) {
    --cell-width: 240px;
    --cell-height: 150px;
    --cell-gap: 12px;
  }
  @media (min-width: 1140px) {
    --cell-width: 320px;
    --cell-height: 200px;
    --cell-gap: 16px;
  }
  width: calc(var(--cell-width) * 3 + var(--cell-gap) * 6);
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  perspective: 1200px;
  .atropos {
    width: var(--cell-width);
    height: var(--cell-height);
    margin: var(--cell-gap);
    perspective: none;
    transform-style: preserve-3d;
  }
  .atropos-active .atropos-shadow {
    opacity: 0.5 !important;
  }
  .atropos-multiple-bg {
    display: flex;
    width: 120%;
    height: 120%;
    background-image: url(/images/demos/justice-league.jpg);
    background-size: 283% 333%;

    position: absolute;
    left: -10%;
    top: -10%;
  }
}
